body{
    background-image: url("../photoSite/page_modification_compte.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    height: 100%;
}

/*fenêtre*/
.titre_livre_fenetre{
    font-size: 0.8em;
}

#table_fenetre{
    overflow-x: auto;
}

#modal .modal-dialog .modal-content{
    background-color: #c4dae2;

}

/*menu*/
#bienvenue_pseudo{
    color: #4e4747;
}

.jumbotron{
    opacity: 93%;
    background-color: #83ece4;
}


@media screen and (max-width:766px){

    #bouton_menu{
        margin-right: 2em;
    }
}