body{
    background-image: url("../photoSite/page_emprunt_restitution_employe.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    height: 100%;
}

/*menu*/
#bienvenue_pseudo{
    color: #ffffff;
}