body{
    background-image: url("../photoSite/accueil_abonne.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    height: 100%;
}

h1 {

    font-family: "Playfair Display", Georgia, "Times New Roman", serif;

}

.jumbotron{
    background-color: #54a79d;
}

#titre_top_10{
    color: white;
}

.table > tbody > tr:first-child > td {
    border: none;
}

