body{
    background-image: url("../photoSite/accueil_abonne.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    height: 100%;
}

a{
    text-decoration:none;
    color: black;
}

a:hover {
    background-color: #99a5a2;

}
a:focus {
    background-color:#555;

}

.jumbotron{
    background-color: #5fbfb6;
    opacity: 93%;
}

#titre_top_10{
    font-family: 'Roboto', sans-serif;
    color: white;
}

#titre_nouveaute{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.table > tbody > tr:first-child > td {
    border: none;
}

.ml3 {
    font-weight: 900;
    font-size: 10em;
    color: #f5f5dc;
    margin-bottom: 0.36em;
}

#titre_bibliotheque{
    color: white;
    font-size: 5em;
    margin-top: 0.6em;
}

#titre_nom_bibliotheque{
    color: white;
    font-size: 5em;
    /*font-family: 'Tangerine', cursive;*/
}

#titre_bienvenue{
    border-bottom: solid;
    border-top: solid;
    padding-top: 0.23em;
    margin-bottom: 1.13em;
}



