body{
    background-image: url("../photoSite/page_liste_livre.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    height: 100%;
}

.jumbotron{
    opacity: 93%;
    background-color: #83ece4;
}

/*Lien*/
.lien_livre{
    text-decoration:none;
    color: black;
}

.lien_livre:hover {
    background-color: #99a5a2;
}
.lien_livre:focus {
    background-color:#555;
}

@media screen and (max-width:1280px){

    .descriptif{
        padding-left: 1.5em;
    }

}

@media screen and (max-width:766px){

    .descriptif{
        padding-left: 2.5em;
    }

    .titre_livre{
        font-size: 1.15em;
    }

    #bouton_menu{
        margin-right: 2em;
    }
}