<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="modification du compte abonné">
        <meta name="author" content="alardon">
        <title>Inscription Abonné</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styleModificationCompte.css}">
    </head>
    <body>
    <div th:if="${message != null}">
        <div class="alert alert-warning alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <span th:text="${message}"></span>
        </div>
    </div>
    <span th:insert="Header :: header(codeRole = ${codeRole}, utilisateurAuthentifie = ${utilisateurAuthentifie})"></span>
    <div id="containeur_detail" class="container-fluid">
        <div th:insert="FenetreModal.html :: fenetre(abonnePret = ${abonnePret})"></div>
        <div class="row">
            <div class="col-12 mb-2">
                <h1 id="titre_catalogue" class="text-center text-dark mt-2 mt-md-0">Modification du Compte</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="jumbotron p-5">
                    <form th:action="@{/ModificationCompte}" th:object="${abonneAModifier}" th:method="post">
                        <h3 class="text-center mb-2">Identité</h3>
                        <div class="form-row" >
                            <div class="form-group col-md-4">
                                <label>Nom</label>
                                <input type="text" class="form-control"  th:field="*{nom}" />
                                <div th:if="${#fields.hasErrors('nom')}" class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span th:errors="*{nom}"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label>Prénom</label>
                                <input type="text" class="form-control"  th:field="*{prenom}" />
                                <div th:if="${#fields.hasErrors('prenom')}" class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span th:errors="*{prenom}"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Prénom</label>
                                <input type="text" class="form-control"  th:field="*{pseudo}" />
                                <div th:if="${#fields.hasErrors('pseudo')}" class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span th:errors="*{pseudo}"></span>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center mb-2">Coordonnées</h3>
                            <div class="form-row " >
                                <div class="form-group col-md-3 mb-0">
                                    <label for="numero">Numéro</label>
                                    <input id="numero" type="text" class="form-control"  th:field="*{adresse.numero}" />
                                    <div th:if="${#fields.hasErrors('adresse.numero')}" class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <span th:errors="*{adresse.numero}"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-9 mb-0">
                                    <label for="rue">Rue</label>
                                    <input id="rue" type="text" class="form-control"  th:field="*{adresse.rue}" />
                                    <div th:if="${#fields.hasErrors('adresse.rue')}" class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <span th:errors="*{adresse.rue}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-outline p-0">
                                <label for="complement">Complément</label>
                                <input id="complement" type="text" class="form-control"  th:field="*{adresse.complement}" />
                                <div th:if="${#fields.hasErrors('adresse.complement')}" class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span th:errors="*{adresse.complement}"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="codePostal">Code Postal</label>
                                    <input id="codePostal" type="text" class="form-control"  th:field="*{adresse.codePostal}" />
                                    <div th:if="${#fields.hasErrors('adresse.codePostal')}" class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <span th:errors="*{adresse.codePostal}"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="ville">Ville</label>
                                    <input id="ville" type="text" class="form-control"  th:field="*{adresse.ville}" />
                                    <div th:if="${#fields.hasErrors('adresse.ville')}" class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <span th:errors="*{adresse.ville}"></span>
                                    </div>
                                </div>
                            </div>
                        <h3 class="text-center mb-2">Identification</h3>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email</label>
                            <input id="email" type="email" th:field="*{email}" class="form-control" />
                            <div th:if="${#fields.hasErrors('email')}" class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <span th:errors="*{email}"></span>
                            </div>
                            <div th:if="${messageErreur != null}" class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <span th:text="${messageErreur}"></span>
                            </div>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline">
                            <label class="form-label" for="old_password">Ancien mot de passe</label>
                            <input type="password" th:value="${ancienMotDePasse}" name="ancienMotDePasse" id="old_password" class="form-control" />
                            <div th:if="${messageErreurMotDePasse != null}" class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <span th:text="${messageErreurMotDePasse}"></span>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Nouveau mot de passe</label>
                            <input id="password" type="password" th:field="*{motDePasse}" class="form-control" />
                            <div th:if="${messageErreurNouveauMotDePasse != null}" class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <span th:text="${messageErreurNouveauMotDePasse}"></span>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row justify-content-center">
                            <div class="col-3 ">
                                <button type="submit" id="btn_inscription" th:onclick="|window.location.href='/ModificationInscription'|" class="btn btn-primary btn-block mb-4 text-center">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>