<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page accueil">
    <meta name="author" content="alardon">
    <title>Accueil</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleDetailLivre.css}">
</head>

<body>
<li th:insert="Header :: header"></li>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-5">
            <h1 id="titre_top_10" class="text-center mt-5">Détail Du Livre</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="offset-1"></div>
        <div class="col-3">
            <img id="couverture_livre" class="d-inline" th:src="@{/photoOuvrage/{image}(image=${detailLivre.getGrandePhotoCouverture()})}"}>
        </div>
        <div class="col-7 jumbotron hoverable p-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center" th:text="${detailLivre.getTitre()}"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-5">
                            <h6 class="d-inline">Résumé : </h6>
                            <p class="d-inline" th:text="${detailLivre.getResume()}">
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="d-inline">Auteur : </h6>
                                    <div class="d-inline" th:each="auteur, inter : ${auteurs}" >
                                        <p class="d-inline" th:text="${auteur.getPrenom()}"> </p>
                                        <p class="d-inline" th:text="${auteur.getNom()}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="d-inline">Date de sortie / Parution : </h6>
                                    <p class="d-inline" th:text="${detailLivre.getDateEdition().toLocaleString()}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="d-inline">ISBN : </h6>
                                    <p class="d-inline" th:text="${detailLivre.getNumISBN13()}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="d-inline">Edition : </h6>
                                    <p class="d-inline" th:text="${detailLivre.getEditeur().getNomMaisonEdition()}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="d-inline">Nombre de pages : </h6>
                                    <p class="d-inline" th:text="${detailLivre.getNombreDePages()}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-1">
                            <h6 class="d-inline">Bibliothèque Molière : </h6>
                            <p class="d-inline">2 exemplaires</p>
                        </div>
                        <div class="col-12 mt-1">
                            <h6 class="d-inline">Bibliothèque Victor Hugo : </h6>
                            <p class="d-inline">0 exemplaires</p>
                        </div>
                        <div class="col-12 mt-1">
                            <h6 class="d-inline">Bibliothèque Emile Zola : </h6>
                            <p class="d-inline">1 exemplaires</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-1"></div>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/accueilJS.js" th:src="@{/js/accueilJS.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>